In [109]:
#Challenge 1 - Functions,Create a function to find the summation of the number of every number from 1 to num.
def summation(num):
    total=0
    i=1
    while i <=num:
        total=total+i
        i+=1
    if i>num:
        return total

In [115]:
summation(74)

2775

In [153]:
#Challenge 2 - Positional arguments, Args and Kwargs
# This function returns the sum of *args
def summation2(*args):
        return(sum(*args))

In [154]:
array=[3, 8, 16]
summation2(array)

27

In [160]:
# This function returns a+b+c, # Your code here:
def summation3(a, b, c):
    return a+b+c

In [163]:
array=[3, 8, 16]
summation3(*array)

27

In [173]:
#Given the next dictionary of M&Ms, create a function to sum all non red M&Ms.
#This function returns the sum of all M&Ms, except the red ones  
def summation4(**kwargs):
    return(sum(kwargs.values()))

In [174]:
dictionary={'red':3, 'blue':8, 'green':24, 'orange':12, 'purple':10}
summation4(**dictionary)

57

In [198]:
# This function returns the sum of a,b,c,d and e
# You need to define the function input
def summation5(a,b,c,d,e):
    return(a+b+c+sum(d)+sum(e.values()))

In [199]:
a=4
b=6
c=15
d=[48, 465, 23, 96]
e={'A':16, 'B':32, 'C':64}

In [200]:
summation5(a,b,c,d,e)

769

In [202]:
#Challenge 3 - Iterators, Generators and yield
iterator = iter([1,2,3])
print(next(iterator))

1

In [203]:
print(next(iterator))

2

In [204]:
iterator = iter([1,2,3])

for i in iterator:
    print(i)

1
2
3

In [324]:
iterator=iter([1,2,3])
#This function takes an iterable and returns the first element that is divisible by 2 and zero otherwise
# Input: Iterable , # Output: Integer
def divisible2(iterator):
    for i in iterator:
        if i%2==0:
            return(i)
        else:
            continue
    return(0)

In [325]:
divisible2(iterator)

2

In [311]:
#Generators
def firstn(n):
     number = 0
     while number < n:
         yield number
         number = number + 1

In [312]:
iterator = firstn(5)

for i in iterator:
    print(i)

0
1
2
3
4

In [366]:
# This function produces an iterator containing all even numbers between 0 and n
# Input: integer ,# Output: iterator
 # Sample Input: 5 ,# Sample Output: iter([0, 2, 4])
def even_iterator(n):
    i=0
    while i<=n:
        if i%2==0:
            yield i
        else:
            i+=1
            continue

In [368]:
even_iterator(5)